<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/c152ba30-1de8-4511-99a5-5d0a7b51b0c7/resourcegroups/Api20230323170057ResourceGroup/providers/Microsoft.ContainerRegistry/registries/Api20230323170057</ResourceId>
    <ResourceName>Api20230323170057</ResourceName>
    <ResourceGroup>Api20230323170057ResourceGroup</ResourceGroup>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <RegistryUrl>api20230323170057.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>3867c44e-4968-4c2a-9709-de8f018a4a31</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>